.w-20{
  width:20%
}
.w-30{
  width:30%
}
.logo-text{
  width:100px;
}
.bi{
  margin-right: 10px;
}
.story{
  height: 70px;
  padding:10px;
}
.dp{
  height:30px;
  margin-top: 5px;
  margin-right:5px;
}
.image{
  width:300px;
}
.suggestions h5{
  font-size: 16px;
}
h5{
  margin-top: 8px;
}
h6,small{
  margin-top:9px; 
}
.suggestions .dp{
  margin-top: 0px;
}
.gradient-border {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(45deg, #ff00ff, #ff6600, #ffcc00);
}
.story-dp {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
}
.suggestions .dp{
    width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
}

.d-flex  .dp{
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
}

.profile{
  width:70px;
  height:80px;
}

